.welch {
    width: 100%;
    border-radius: 5px;
}
.welch:hover{
    width: 101%;
}


p {
    color: #ffffff;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
}

body {
    background-color: #D62F01;
    font-family: 'Rubik', sans-serif;
}

